* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    background-color: #112d55;
}

body {
    width: 100vh;
  /*  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

h1, h2, h3, h4 {
    text-align: center;
}