* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    background-color: #112d55;
}

body {
    width: 100vh;
  /*  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    */
    font-family: sans-serif;
  }
  
@font-face {
  font-family: 'Xirod'; /* Choose a name for your font */
  src: url('./Xirod.otf') format('truetype'); /* Path to your font file and its format */
  /* You can add more src declarations for different font formats for broader browser compatibility */
    }


article {
    margin: 2em;
}

h1, h2, h3, h4 {
    text-align: center;
	font-family: 'xirod';
  margin: 1em;
}

p {
  text-align: center;
}